@media only screen and (max-width: 750px){
    .Subwindow{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
    }
    .Modal{
        width: calc(100% - 40px);
        height: calc(100% - 40px);
        padding: 20px;
    }
    .Header_PageNavigation_Title{
        display: none;
    }
    .Header_PageNavigation_Icon{
        margin-right: 0;
    }
    :root{
        --Element-ContentContainer-MarginnedWidth: calc(100% - 40px);
    }   
    .Ribbon{
        height: 40px;
        /* width: fit-content; */
    }
}

@media only screen and (max-width: 700px){
    .Header_StatusTray{
        display: none;
    }
    .Header_PageNavigation_Menu{
        left: 0px;
        width: 100%;
        bottom: 0px;
        /* margin-bottom: 20px; */
    }
    .Header_StatusTray_Menu{
        display: none;
        transform: translateX(-100%);
        animation-name: unset;
        animation-fill-mode: unset;
        bottom: 0;
        width: calc(100% - 10px);
        /* padding-left: 20px; */
    }
    .Header_StatusTray_Menu_Close{
        display: block;
    }
}

@media only screen and (max-width: 650px){
    .Toasts{
        height: 150px;
	    overflow-y: hidden;
        left: 0;
        right: 0;
        margin: auto;
        margin-top: 75px;
    }
    .Header_Content_Title{
        font-size: 15px;
    }
}