.TP_Prompter{
    width: 100%;
    height: 100%;
    background-color: black;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

.TP_Prompter_Text{
    font-family: Roboto;
    color: white;
    margin: 0;
    font-size: var(--TP-Prompter-Size);
    /* transition: 0s; */
}

.TP_Prompter_Settings{
    position: fixed;
    width: 100%;
    height: 100%;
    height: auto;
    opacity: 0;
    margin: 20px;
    z-index: 500;
}

.TP_Prompter_Settings:hover{
    opacity: 100%;
}

.TP_Prompter_Settings_Icon{
    background-color: var(--BG-Color-Button-General);
    width: 60px;
    height: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    cursor: pointer;
}

.TP_Prompter_Settings_Icon_Icon{
    width: 40px;
}
